
<body>
    <div class="footer">
        <a href="/"><i class="fa-brands fa-square-twitter"></i></a>
        <a href="/"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="/"><i class="fa-brands fa-square-instagram"></i></a>
        <h6> &copy; Wonderlust &hearts; Private Limited</h6>
        <a href="/privac">Privacy</a>
        <a href="/term">Terms</a>

    </div>
</body>